<a href="https://colab.research.google.com/github/GodoyLucas/XPE/blob/main/DESF5%20-%20Desafio%20Final/notebooks/B1DESF5_Desafio_Final_Enunciado_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
filmes = pd.read_csv("https://raw.githubusercontent.com/GodoyLucas/XPE/main/DESF5%20-%20Desafio%20Final/datasets/movies.csv")
filmes

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [3]:
filmes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [4]:
filmes.describe()

             movieId
count    9742.000000
mean    42200.353623
std     52160.494854
min         1.000000
25%      3248.250000
50%      7300.000000
75%     76232.000000
max    193609.000000

In [5]:
notas = pd.read_csv("https://raw.githubusercontent.com/GodoyLucas/XPE/main/DESF5%20-%20Desafio%20Final/datasets/ratings.csv")
notas

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [6]:
notas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [7]:
notas.describe()

              userId        movieId         rating     timestamp
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

In [8]:
base = pd.merge(notas, filmes, how = 'left', on = 'movieId')
base_essencial = base[['userId', 'title']]
base_essencial

        userId                           title
0            1                Toy Story (1995)
1            1         Grumpier Old Men (1995)
2            1                     Heat (1995)
3            1     Seven (a.k.a. Se7en) (1995)
4            1      Usual Suspects, The (1995)
...        ...                             ...
100831     610                    Split (2017)
100832     610   John Wick: Chapter Two (2017)
100833     610                  Get Out (2017)
100834     610                    Logan (2017)
100835     610  The Fate of the Furious (2017)

[100836 rows x 2 columns]

In [9]:
# pivot table para transformar o DataFrame
base_tratada = pd.pivot_table(base_essencial, index='userId', columns='title', values='title', aggfunc=lambda x: 1).fillna(0).astype(int)
base_tratada

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]Â² (2009),[REC]Â³ 3 GÃ©nesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),Â¡Three Amigos! (1986),Ã€ nous la libertÃ© (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
607,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
608,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
609,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
610,1,0,0,0,0,0,0,0,1,0,...,0,1,1,1,0,0,1,1,0,0

In [10]:
base.query('userId  == 608 and title == "eXistenZ (1999)"')

,userId,movieId,rating,timestamp,title,genres
99068,608,2600,4.5,1117415451,eXistenZ (1999),Action|Sci-Fi|Thriller

In [11]:
base_tratada = base_tratada.fillna(0.0)

In [12]:
notas.query("userId == 1 and movieId == 47")

   userId  movieId  rating  timestamp
3       1       47     5.0  964983815

In [13]:
import numpy as np

In [14]:
base_essencial

        userId                           title
0            1                Toy Story (1995)
1            1         Grumpier Old Men (1995)
2            1                     Heat (1995)
3            1     Seven (a.k.a. Se7en) (1995)
4            1      Usual Suspects, The (1995)
...        ...                             ...
100831     610                    Split (2017)
100832     610   John Wick: Chapter Two (2017)
100833     610                  Get Out (2017)
100834     610                    Logan (2017)
100835     610  The Fate of the Furious (2017)

[100836 rows x 2 columns]

11) Dentre os usuÃ¡rios do dataset, qual o ID de usuÃ¡rio assistiu a maior quantidade de filmes?

In [17]:
most_frequent = base_essencial['userId'].value_counts().idxmax()
print(most_frequent)

414

In [18]:
import statistics

data = base_essencial['userId']
mode = statistics.mode(data)
print(mode)

414

12) AtravÃ©s do algoritmo apriori gere os itens mais frequentes apÃ³s a junÃ§Ã£o dos datasets. Utilize o parÃ¢metro min_support=0.3 e responda: qual Ã© a quantidade de itens frequentes criados?

In [22]:
import pandas as pd
from mlxtend.frequent_patterns import apriori

# aplicar algoritmo apriori com suporte mÃ­nimo de 0.3
itemsets = apriori(base_tratada, min_support=0.3, use_colnames=True)

# exibir itemsets frequentes
print(itemsets)

     support                                           itemsets
0   0.300000                                   (Aladdin (1992))
1   0.334426                           (American Beauty (1999))
2   0.329508                                 (Apollo 13 (1995))
3   0.309836                                    (Batman (1989))
4   0.388525                                (Braveheart (1995))
5   0.357377                                (Fight Club (1999))
6   0.539344                              (Forrest Gump (1994))
7   0.311475                             (Fugitive, The (1993))
8   0.314754                            (Godfather, The (1972))
9   0.331148             (Independence Day (a.k.a. ID4) (1996))
10  0.390164                             (Jurassic Park (1993))
11  0.324590  (Lord of the Rings: The Fellowship of the Ring...
12  0.303279  (Lord of the Rings: The Return of the King, Th...
13  0.308197    (Lord of the Rings: The Two Towers, The (2002))
14  0.455738                               (Matrix, The (1999))
15  0.503279                              (Pulp Fiction (1994))
16  0.327869  (Raiders of the Lost Ark (Indiana Jones and th...
17  0.308197                       (Saving Private Ryan (1998))
18  0.360656                          (Schindler's List (1993))
19  0.332787                      (Seven (a.k.a. Se7en) (1995))
20  0.519672                 (Shawshank Redemption, The (1994))
21  0.457377                 (Silence of the Lambs, The (1991))
22  0.411475        (Star Wars: Episode IV - A New Hope (1977))
23  0.345902  (Star Wars: Episode V - The Empire Strikes Bac...
24  0.321311  (Star Wars: Episode VI - Return of the Jedi (1...
25  0.367213                (Terminator 2: Judgment Day (1991))
26  0.352459                                 (Toy Story (1995))
27  0.334426                       (Usual Suspects, The (1995))
28  0.300000           (Forrest Gump (1994), Braveheart (1995))
29  0.324590        (Forrest Gump (1994), Jurassic Park (1993))
30  0.318033          (Forrest Gump (1994), Matrix, The (1999))
31  0.377049         (Forrest Gump (1994), Pulp Fiction (1994))
32  0.378689  (Shawshank Redemption, The (1994), Forrest Gum...
33  0.326230  (Silence of the Lambs, The (1991), Forrest Gum...
34  0.300000  (Matrix, The (1999), Star Wars: Episode IV - A...
35  0.363934  (Shawshank Redemption, The (1994), Pulp Fictio...
36  0.339344  (Silence of the Lambs, The (1991), Pulp Fictio...
37  0.326230  (Silence of the Lambs, The (1991), Shawshank R...
38  0.311475  (Star Wars: Episode V - The Empire Strikes Bac...

13) Qual Ã© a nota mÃ©dia para o filme mais vistos entre os usuÃ¡rios?

In [23]:
# aplicar algoritmo apriori com suporte mÃ­nimo de 0.3
itemsets = apriori(base_tratada, min_support=0.5, use_colnames=True)

# exibir itemsets frequentes
print(itemsets)

    support                            itemsets
0  0.539344               (Forrest Gump (1994))
1  0.503279               (Pulp Fiction (1994))
2  0.519672  (Shawshank Redemption, The (1994))

In [24]:
most_frequent = base_essencial['title'].value_counts().idxmax()
print(most_frequent)

Forrest Gump (1994)

In [28]:
base.query("title == 'Forrest Gump (1994)'").rating.mean()

4.164133738601824

In [29]:
from mlxtend.frequent_patterns import apriori, association_rules

# Aplicando o algoritmo Apriori
frequent_items = apriori(base_tratada, min_support=0.3, use_colnames=True)

# Criando as regras de associaÃ§Ã£o
rules = association_rules(frequent_items, metric='confidence', min_threshold=0.7)

# Ordenando as regras por confianÃ§a e selecionando a primeira
max_confidence_rule = rules.sort_values('confidence', ascending=False).iloc[0]

In [30]:
max_confidence_rule

antecedents           (Star Wars: Episode V - The Empire Strikes Bac...
consequents                 (Star Wars: Episode IV - A New Hope (1977))
antecedent support                                             0.345902
consequent support                                             0.411475
support                                                        0.311475
confidence                                                     0.900474
lift                                                           2.188403
leverage                                                       0.169145
conviction                                                     5.913271
Name: 11, dtype: object

In [33]:
from mlxtend.frequent_patterns import apriori, association_rules

# Calcular o conjunto de itens frequentes com o algoritmo Apriori
frequent_items = apriori(base_tratada, min_support=0.3, use_colnames=True)

# Gerar as regras de associaÃ§Ã£o a partir do conjunto de itens frequentes
rules = association_rules(frequent_items, metric='confidence', min_threshold=0.7)

# Filtrar as regras que contÃ©m Silence of the Lambs e Forrest Gump
filtered_rules = rules[(rules['antecedents'].apply(lambda x: 'Silence of the Lambs, The (1991)' in x)) &
                       (rules['consequents'].apply(lambda x: 'Forrest Gump (1994)' in x))]

# Imprimir o valor de LIFT da regra filtrada
print(filtered_rules.iloc[0]['lift'])

1.3224608077044593